@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

@layer base{
  .s{
    @apply  text-xs text-custom-300;
  }
  .u{
    @apply hidden;
  }
  .n{
    @apply w-full md:w-[300px] lg:w-[420px]  border-2 rounded-md p-2 border-custom-400 focus:outline-none focus:border-custom-200;
  }
  .e{
    @apply w-full md:w-[300px] lg:w-[420px]  border-2 rounded-md p-2 border-custom-300 focus:outline-none focus:border-custom-300;
  }
  .n1{
    @apply  w-1/2 md:w-[60px] lg:w-[70px] border-2 rounded-md p-2 border-custom-400 focus:outline-none focus:border-custom-200;
  }
  .e1{
    @apply  w-1/2 md:w-[60px] lg:w-[70px] border-2 rounded-md p-2 border-custom-300 focus:outline-none focus:border-custom-300;
  }
  .n2{
    @apply w-full md:w-[148px] lg:w-[248px]  border-2 rounded-md p-2 border-custom-400 focus:outline-none focus:border-custom-200;
  }
  .e2{
    @apply w-full md:w-[148px] lg:w-[248px]  border-2 rounded-md p-2 border-custom-300 focus:outline-none focus:border-custom-300;
  }
  .n3{
    @apply ml-3 w-1/2 md:w-[60px] lg:w-[70px] border-2 rounded-md p-2 border-custom-400 focus:outline-none focus:border-custom-200;
  }
  .e3{
    @apply ml-3  w-1/2 md:w-[60px] lg:w-[70px] border-2 rounded-md p-2 border-custom-300 focus:outline-none focus:border-custom-300;
  }
}

body {
  font-size: 18px;

}
